/*
This file includes RestAPI settings for a specific host and RestAPIResource.
It should be located in a directory with the same name as the host, and the file name must be the same as the resource
it's associated with.

The settings here will take precedence over settings specified in the RestAPI's defaults.config, which will in turn
take precedence over the defaults that come with the RestAPI class.
*/

doWithFindResult = {result ->
    "projects override"
}


headers = ["Accept":"X-projects"]