*.class
*.log
*.log.1
*.out
*.war
*.zip
.DS_Store
.redcar
.settings
dump.rdb
.svn
._redcar
/-w
/projectmanager/.pt
cobertura.ser
diagram-of-flow*
dist
pom.xml.sha1
tags
mvn-target
target
zip.sha1
plugins/xcel/deploy/*.groovy
*.xml.sha1
*.zip.sha1
projectmanager/.pt/-w
projectmanager/connected
projectmanager/devDB.properties
projectmanager/runtime/files/
projectmanager/runtime/diagrams/
projectmanager/test/fixtures/
projectmanager/connected
projectmanager/.pt/-w
filefort/files
usersmaster/images/*_Template.png
gitcommit.txt
projectmanager/databases/*
